#admin-nueva-tarea h2{
  font-size: 100%;
  font-style: normal;
  font-weight: 500;
  color: #375152;
}

div#admin-agergar-starea {
    /* display: -webkit-inline-box; */
    background-color: #5C8798;
    /* border-radius: 30px; */
    width: 100%;
    text-align: -webkit-center;
}

div#admin-agergar-starea h2 {
    margin-right: 0;
    color: white;
    margin-top: 15px;
    font-size: 100%;
    margin-left: 0;
    text-transform: capitalize;
}

div#admin-agergar-starea svg {
    height: 33px !important;
    width: 20px !important;
    fill: #2C434B!important;
}

div#admin-agergar-starea button {
    width: 33px !important;
    height: 33px !important;
    background-color: #C7B99C!important;
}

div#admin-descripcion-tarea {
    margin-bottom: 5%;
}

div#admin-nombre-tarea {
    margin-top: 5%;
}

@media (max-width: 650px) {
  div#admin-nombre-tarea {
      margin-top: 10%;
  }
}

div#admin-starea {
    display: -webkit-inline-box;
    width: 41%;
}

div#admin-dialog h4{
  margin-bottom: 0;
  color: #5C8798;
}

h4#nueva-tarea-titulo {
    font-weight: bold;
    margin: 0;
    margin-top: 6%;
    font-size: 1.3em;
}

h4.nueva-tarea-desc {
    font-weight: unset;
    margin: auto;
}

div#admin-agergar-starea span{
  width:100% !important;
}
