div.tareas-principales-items {
    text-align: left;
}

div#tareas-principlaes-activas h2 {
  text-transform: uppercase;
  font-weight: normal;
  color: #5C8798;
}

div#tareas-principlaes-activas a{
  text-decoration: none;
}

div.tareas-principales-items p {
    color: #375152!important;
}

div.tareas-principales-items span {
    color: #C7B99C;
}
