div#chip-tarea-sec-activa h4 {
    text-align: left;
    margin-left: 5%;
    color: #2C434B;
    font-weight: unset;
    text-transform: capitalize;
    line-height: 25px;
}

div#tareas-secundaria-activas-chips hr.style14 {
    margin: 0.5px;
}

div#tareas-secundaria-activas h2 {
    text-transform: uppercase;
    color: #2C434B;
    font-weight: unset;
}

div#tareas-secundaria-activas h3 {
    text-transform: uppercase;
    color: #C7B99C;
    font-weight: unset;
}
